<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.nombre %></td>
                <td>
          <%= link_to proyecto do %>
          <i class="fa fa-eye"></i>
          <% end %>
          <%= link_to edit_proyecto_path(proyecto) do %>
          <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to proyecto, method: :delete, data: { confirm: '¿Seguro?' } do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
