<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @negocio_unidad.nombre %>
</p>

<%= link_to 'Edit', edit_negocio_unidad_path(@negocio_unidad) %> |
<%= link_to 'Back', negocio_unidads_path %>
