
<div class="jumbotron">
  <div class="container">
    <h1>Bienvenido</h1>
    <%=image_tag("Saema.opt.svg", height:"40%", alt: "Saema")%>
    <p class="space"></p>
    <p><%= link_to "Accede", signin_path, class:"btn button", role:"button" %></p>
  </div>
</div>
