<h1>Lista de Solicitudes</h1>

<div class="row">
  <%= render 'table' %>
  <div class="col-sm-2 col-xs-4">
    <%= link_to new_solicitud_path do %>
    <button class="button">
      <i class="fa fa-file-text-o"></i><br>
      Nueva solicitud
    </button>
    <% end %>
  </div>
</div>


