
<%= link_to negocio_unidads_path do %>     
  <button class="mybtn">
    <i class="fa fa-archive fa-5x"></i><br>
    Unidades de negocio
  </button>
<% end %>

<%= link_to familias_path do %>     
  <button class="mybtn">
    <i class="fa fa-cube fa-5x"></i><br>
    Familias
  </button>
<% end %>
<%= link_to subfamilias_path do %>     
  <button class="mybtn">
    <i class="fa fa-cubes fa-5x"></i><br>
	  Subfamilias
  </button>
<% end %>

