<p>
  <strong>Codigo:</strong>
  <%= @ficha.codigo %>
</p>
<p>
  <strong>Importancia:</strong>
  <%= @ficha.importancia %>
</p>
<p>
  <strong>Observaciones:</strong>
  <%= @ficha.observaciones %>
</p>
