<div class="panel panel-default">
  <div class="panel-heading">
    Stock
  </div>
  <div class="panel-body">
    <p>
      <strong>Cantidad total en Stock:</strong>
      <%= @ficha.cantidad_total %>
    </p>
    <%= render 'materials/table' %>
    <button class="btn button">
      <%= link_to "Nuevo material", new_ficha_material_path(@ficha) %>
    </button>
  </div>
</div>
