<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Editar ficha</h1>
    <%= render 'form' %>
    <%= link_to 'Ver', @ficha %> |
    <%= link_to 'Volver', fichas_path %>
  </div>
</div>

