@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*body */

body { 
 
}

.panel-heading {
    color: #333;
    background-color: #f9d616 !important;
    border-color: #ddd;
}
/* header */

.navbar {
  background-color: #fff; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

a:hover {
    color: #bbb;
    background-color: #fff;
}

@mixin button {
  background-color: #000;
  text-align: center;
  border: 1px;
  border-radius: 5px;	
  padding: 15px;
  color:white;
  margin: 15px;
}

.button {
  @include button;
  background-color: #e30613;

}

.button-blue {
  @include button;
  background-color: #1100bb;
}



.button2 {
  background-color: #e30613;
  border-radius: 5px;	
  color:white;
}


.spacefooter {
  height: 1.5cm;
}
/* footer */



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}