@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*body */

body { 
  padding-bottom: 100px;      
  padding-top: 50px;              
}

.jumbotron {
  margin-bottom: 0px;
  height: 90%;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
  background: image-url('sagasta.jpg') no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.panel-heading {
    color: #333;
    background-color: #f9d616 !important;
    border-color: #ddd;
}

/* header */

.navbar {
  background-color: #fff; 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

@mixin button {
  background-color: #000;
  text-align: center;
  border: 1px;
  border-radius: 5px;	
  padding: 15px;
  color:white !important;
  margin: 15px;
  a {
    color:white  !important;
  }
}

.button {
  @include button;
  background-color: #e30613;
}

.button-blue {
  @include button;
  background-color: #1100bb;
}



.button2 {
  background-color: #e30613;
  border-radius: 5px;	
  color:white;
}


.mybtn {
  color: red;     
}

.space {
  height: 100px;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 100px;
  @include box_sizing;
}
