<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.saemaprojectos.com/">
          <%=image_tag("Saema.opt.svg", height:20, alt: "Saema")%>
        </a>
      </div>
    </div>
  </nav>
</footer>
